:root {
	--border: 1px solid #000000;
	--boardtable: 1px solid #000000;
	--avatarborder: 3px solid #000000; 
	--boardpanel: #61605f;
	--slider: #ccc;
	--slidercircle: #ffffff;
	
	
}

[data-theme="dark"] {
    --border: 1px solid #414141;
	--boardtable: 1px solid #ffffff;
	--avatarborder: 3px solid #ffffff;  
	--boardpanel: #242424;
	--slider: rgb(255, 255, 255);
	--slidercircle: #000000;

}

[data-theme="light"] {
    --border: 1px solid #000000;
	--boardtable: 1px solid #000000;
	--avatarborder: 3px solid #000000;
	--boardpanel: #61605f; 
	--slider: #ccc;
	--slidercircle: #ffffff;

}


.theme-switch-wrapper {
	display: flex;
	align-items: center;
  
	em {
	  margin-left: 10px;
	  font-size: 1rem;
	}
  }
  .theme-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
  }
  
  .theme-switch input {
	display:none;
  }
  
  .slider {
	background-color: var(--slider);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
  }
  
  .slider:before {
	background-color: var(--slidercircle);
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s;
	width: 26px;
  }
  
  input:checked + .slider {
	background-color: var(--slider);
  }
  
  input:checked + .slider:before {
	transform: translateX(26px);
  }
  
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

#board-area{
	max-width: 1800px;
	margin: 0 auto;
}
#info-board{
	padding: 5px;
	text-align: center;
}

.oppo-avt {
	height: 60px;
	width: 60px;
	border: var(--avatarborder);
	border-radius: 5px;
}
#vs {
	height: 32px;
	width: 32px;
}
.time {
	font: bold 32px Arial, Helvetica, sans-serif;
	color:#FFDAB0;
	text-shadow:#7F6346 2px 2px 2px;
}

#board{
	overflow: auto;
}
#board-table{
	width: 100%;
	border: var(--boardtable);
	min-width: 500px;
	table-layout:fixed;
}
.square{
	width: 6.25%;
	padding: 2px;
	border: var(--border);
	cursor: pointer;
	overflow:hidden;
}
.square:before{
    content:'';
    float: left;
	padding-top:100%;
}
.square img{
	width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#board-cpanel{
	margin-top: 10px;
	padding: 10px;
	z-index: 100;
	background-color: var(--boardpanel);
	border-radius: 5px;
}	


#chat{
	width: 100%; clear: both;
}
#chat-content {
	width: 100%;
	height: 200px;
}
#chat-message {
	width: 78%; height: 40px;
	float: left;
}
#chat-send {
	width: 20%;
	float: right;
}
#notify{
	width: 100%; clear: both;
}
#notify-content {
	width: 100%;
	height: 200px;
}



@media all and (min-width: 768px){
	#talking{
		font-size: 16px;
	}
}
@media all and (min-width: 900px){
	#talking{
		font-size: 20px;
	}
	#notify, #chat{
		width: 30%;
		clear: none;

	}
	#board-area {
		width: 60%;
		clear: none;
	}
	#container{
		width: 80%;
		max-width: 1500px;
	}
	.content-area{
		margin: 10px;
	}
}